doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/wysiwyg-editor.css')
    link(rel='stylesheet', href='/iconfont/iconfont.css')
    link(rel='stylesheet', href='/iconfont/font.css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    script(type='text/javascript', src='/javascripts/lib/jquery-1.10.0.min.js')
    script(type='text/javascript', src='/javascripts/lib/jquery.form.min.js')
    script(type='text/javascript', src='/javascripts/lib/jquery.tagcloud.js')
    script(type='text/javascript', src='/javascripts/lib/wysiwyg.js')
    script(type='text/javascript', src='/javascripts/lib/wysiwyg-editor.js')
    script(type='text/javascript', src='/javascripts/layout.js')
    script(type='text/javascript', src='/javascripts/content.js')
    script(type='text/javascript', src='/javascripts/article.js')
    script(type='text/javascript', src='/javascripts/vocabulary.js')
  body
    #header
      section
        a(href='javascript:;')
          .logo English Club
        .header-items
          //.header-item
          //  span.icon-home
          //  |About
          .header-item
            span.icon-user
            |User
    block content