@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-ouu61y');
	src:url('icomoon.eot?#iefix-ouu61y') format('embedded-opentype'),
		url('icomoon.woff?-ouu61y') format('woff'),
		url('icomoon.ttf?-ouu61y') format('truetype'),
		url('icomoon.svg?-ouu61y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}

.icon-pencil:before {
	content: "\e601";
}

.icon-tag:before {
	content: "\e602";
}

.icon-tags:before {
	content: "\e603";
}

.icon-user:before {
	content: "\e604";
}

.icon-list:before {
	content: "\e605";
}

.icon-heart:before {
	content: "\e606";
}

.icon-heart2:before {
	content: "\e607";
}

.icon-close:before {
	content: "\e608";
}

.icon-checkmark:before {
	content: "\e609";
}

.icon-minus:before {
	content: "\e60a";
}

.icon-plus:before {
	content: "\e60b";
}

.icon-volume-high:before {
	content: "\e60c";
}

.icon-volume-medium:before {
	content: "\e60d";
}

.icon-volume-low:before {
	content: "\e60e";
}

.icon-checkbox-unchecked:before {
	content: "\e60f";
}

.icon-checkbox-partial:before {
	content: "\e610";
}

.icon-lock:before {
	content: "\e611";
}

.icon-lock-open:before {
	content: "\e612";
}

.icon-arrow-left:before {
	content: "\e613";
}

.icon-arrow-down:before {
	content: "\e614";
}

.icon-arrow-up:before {
	content: "\e615";
}

.icon-uniE616:before {
	content: "\e616";
}

.icon-menu:before {
	content: "\e617";
}

.icon-ellipsis:before {
	content: "\e618";
}

